<h1><%- title %></h1>
<%- messages() %> 

<% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

<form class="input-box" action="/inv/add-inventory" method="post">
  <label>Make
    <input type="text" name="inv_make" value="<%- inv_make || '' %>" placeholder="Ford" minlength="2" maxlength="50">
    <span class="fine-print">Required.</span>
  </label>

  <label>Model
    <input type="text" name="inv_model" value="<%- inv_model || '' %>" placeholder="Mustang" minlength="2" maxlength="50">
    <span class="fine-print">Required.</span>
  </label>

  <label>Year
    <input type="number" name="inv_year" value="<%- inv_year || '' %>" placeholder="2001" min="1900" max="2030">
    <span class="fine-print">Required. 1900-2030.</span>
  </label>

  <label>Description
    <textarea name="inv_description" placeholder="Fancy and red." minlength="2" maxlength="100" rows="5"><%- inv_description || '' %></textarea>
    <span class="fine-print">Required. 100 characters max.</span>
  </label>

  <label>Image
    <input type="text" name="inv_image" value="<%- inv_image || '/images/vehicles/no-image.png' %>" placeholder="red_mustang.jpg">
    <span class="fine-print">Required.</span>
  </label>

  <label>Thumbnail
    <input type="text" name="inv_thumbnail" value="<%- inv_thumbnail || '/images/vehicles/no-image-tn.png' %>" placeholder="little_red_mustang.jpg">
    <span class="fine-print">Required.</span>
  </label>

  <label>Price
    <input type="number" name="inv_price" value="<%- inv_price || '' %>" placeholder="15000">
    <span class="fine-print">Required. Numeric only, no comma.</span>
  </label>

  <label>Miles
    <input type="number" name="inv_miles" value="<%- inv_miles || '' %>" placeholder="100000">
    <span class="fine-print">Required. Numeric only, no comma.</span>
  </label>

  <label>Color
    <input type="text" name="inv_color" value="<%- inv_color || '' %>" placeholder="Red">
    <span class="fine-print">Required.</span>
  </label>

  <label>Classification
    <select name="classification_id">
      <% classifications.forEach(function(classification) { %>
        <option value="<%= classification.classification_id %>" <%= (classification.classification_id == inv_classification_id) ? 'selected' : '' %> >
          <%= classification.classification_name %>
        </option>
      <% }) %>
    </select>
    <span class="fine-print">Required.</span>
  </label>

  <input type="submit" value="ADD">
</form>